<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>N</string>
	</array>
	<key>@MMK_L_J</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
	</array>
	<key>@MMK_L_M</key>
	<array>
		<string>M</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>D</string>
		<string>O</string>
		<string>Q.ss01</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>e</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g.ss01</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
		<string>j</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>d</string>
		<string>l</string>
	</array>
	<key>@MMK_L_leftArrow</key>
	<array>
		<string>leftArrow</string>
	</array>
	<key>@MMK_L_leftRightArrow</key>
	<array>
		<string>leftRightArrow</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>a.ss01</string>
		<string>h</string>
		<string>m</string>
		<string>n</string>
	</array>
	<key>@MMK_L_northEastArrow</key>
	<array>
		<string>northEastArrow</string>
	</array>
	<key>@MMK_L_northWestArrow</key>
	<array>
		<string>northWestArrow</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>p</string>
	</array>
	<key>@MMK_L_q</key>
	<array>
		<string>q</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
	</array>
	<key>@MMK_L_rightArrow</key>
	<array>
		<string>rightArrow</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
	</array>
	<key>@MMK_L_southEastArrow</key>
	<array>
		<string>southEastArrow</string>
	</array>
	<key>@MMK_L_southWestArrow</key>
	<array>
		<string>southWestArrow</string>
	</array>
	<key>@MMK_L_space</key>
	<array>
		<string>space</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
	</array>
	<key>@MMK_L_upArrow</key>
	<array>
		<string>upArrow</string>
		<string>downArrow</string>
	</array>
	<key>@MMK_L_upDownArrow</key>
	<array>
		<string>upDownArrow</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_L_w</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_L_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>K</string>
		<string>L</string>
		<string>N</string>
		<string>P</string>
		<string>R</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_R_M</key>
	<array>
		<string>M</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>O</string>
		<string>Q.ss01</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a.ss01</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g.ss01</string>
	</array>
	<key>@MMK_R_h</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>l</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
		<string>j</string>
	</array>
	<key>@MMK_R_leftArrow</key>
	<array>
		<string>leftArrow</string>
	</array>
	<key>@MMK_R_leftRightArrow</key>
	<array>
		<string>leftRightArrow</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>r</string>
	</array>
	<key>@MMK_R_northEastArrow</key>
	<array>
		<string>northEastArrow</string>
	</array>
	<key>@MMK_R_northWestArrow</key>
	<array>
		<string>northWestArrow</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>o</string>
		<string>q</string>
	</array>
	<key>@MMK_R_p</key>
	<array>
		<string>p</string>
	</array>
	<key>@MMK_R_rightArrow</key>
	<array>
		<string>rightArrow</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
	</array>
	<key>@MMK_R_southEastArrow</key>
	<array>
		<string>southEastArrow</string>
	</array>
	<key>@MMK_R_southWestArrow</key>
	<array>
		<string>southWestArrow</string>
	</array>
	<key>@MMK_R_space</key>
	<array>
		<string>space</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
	</array>
	<key>@MMK_R_upArrow</key>
	<array>
		<string>upArrow</string>
		<string>downArrow</string>
	</array>
	<key>@MMK_R_upDownArrow</key>
	<array>
		<string>upDownArrow</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_R_w</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_R_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
	</array>
</dict>
</plist>
